<div>
  <h2>Add new teacher</h2>
  <form *ngIf="active" (ngSubmit)="onSubmit()" #teacherForm="ngForm" novalidate autocomplete="off">
    <div>
      <md-input [(ngModel)]="model.name" placeholder="Teacher name" type="text" name="name" required></md-input>
    </div>
    <button [disabled]="!teacherForm.form.valid" md-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
