<md-card>
  <md-card-subtitle></md-card-subtitle>
  <md-card-content>
    <span class="author-name">{{message.name}}:</span>
    <span class="message">{{message.text}}</span>
    <span class="message-time">{{message.postedAt | date }}</span>
  </md-card-content>
</md-card>
