md-card {
  margin: 10px 0;
}

md-card-content {
  display: flex;
}

.author-name {
  font-weight: bold;
  margin-right: 10px;
}

.message {
  flex-grow: 2;
}

.author-name, .message {
  font-size: 18px;
}
