<div class="login-container">
  <md-card>
    <md-card-title>Tennis App</md-card-title>
    <form (ngSubmit)="onLogin()" #loginForm="ngForm" novalidate autocomplete="off">
      <div>
        <md-input [(ngModel)]="model.email" placeholder="Email" type="text" name="email" required></md-input>
      </div>
      <div>
        <md-input [(ngModel)]="model.password" placeholder="Password" type="password" name="password" required></md-input>
      </div>
      <button [disabled]="!loginForm.form.valid" md-raised-button color="primary" type="submit">Login</button>
    </form>
  </md-card>
</div>
