<div>
  <h4 *ngIf="!(groups | async) || (groups | async).length === 0">You have no groups. Add one right now</h4>
  <app-group-card *ngFor="let group of groups | async" [group]="group" (onClick)="onGroupClick($event)"></app-group-card>
</div>
