<md-sidenav-layout>
  <md-sidenav #sidenav (open)="mybutton.focus()" mode="side" opened="true">
    <app-menu></app-menu>
    <button style="display: none;" md-raised-button class="md-raised md-primary" #mybutton (click)="sidenav.close()">Close</button>
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button class="menu-icon-button" color="primary" md-mini-fab (click)="sidenav.toggle()">
        <md-icon class="md-24">list</md-icon>
      </button>
      TennisApp
    </md-toolbar>

    <app-page>
      <router-outlet></router-outlet>
    </app-page>
  </div>
</md-sidenav-layout>
