/*.teacher-list-container {*/
  /*width: 400px;*/
/*}*/

.teacher-form {
  margin-bottom: 15px;
}

.teachers-page-inner-container {
  display: flex;
}

/* 1 */
.teacher-list-outer-container {
  width: 20%;
  min-width: 300px;
}

/* 2 */
.teacher-info-outer-container {
  width: 100%;
  padding: 0 15px;
}

/* 3 */
.teacher-assigned-groups {
  opacity: 0.4;
  width: 20%;
  min-width: 250px;
}
