<div class="page">
  <h2>
    <span>Teachers list</span>
    <button md-mini-fab *ngIf="!shouldRenderAddForm" (click)="renderForm(true)">
      <md-icon class="md-24">add</md-icon>
    </button>
  </h2>

  <div class="teachers-page-inner-container">
    <div class="teacher-list-outer-container">
      <div *ngIf="shouldRenderAddForm" class="teacher-form">
        <app-add-teacher (onAddTeacher)="renderForm(false)"></app-add-teacher>
      </div>
      <div class="teacher-list-container">
        <app-teachers-list></app-teachers-list>
      </div>
    </div>
    <div class="teacher-info-outer-container">
      <router-outlet></router-outlet>
    </div>
    <div class="teacher-assigned-groups">
      <h3>Assigned groups</h3>
      <app-groups-list></app-groups-list>
    </div>
  </div>
</div>

