<div>
  <h2>Add new group</h2>
  <form *ngIf="active" (ngSubmit)="onSubmit()" #groupForm="ngForm" novalidate autocomplete="off">
    <div>
      <md-input [(ngModel)]="model.title" placeholder="Group title" type="text" name="name" required></md-input>
    </div>
    <button [disabled]="!groupForm.form.valid" md-raised-button color="primary" type="submit">Save</button>
  </form>
</div>
