h3 {
  text-align: center;
}

.app-menu {
  padding: 15px;
}

.app-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app-menu ul li {
  border-bottom: 1px solid rgba(207,216,220,0.56);
  color: #607D8B;
  margin: 0;
  padding: 0;
}

.app-menu ul li a {
  box-sizing: border-box;
  text-transform: uppercase;
  color: #607D8B;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  padding: 3px 16px;
  position: relative;
}

.app-menu ul li a.active {
  font-weight: 800;
}

.bottom-section {
  position: absolute;
  bottom: 0;
}

