<div class="app-menu">
  <h3>Menu</h3>
  <!--<md-card>-->
    <!--<md-card-title>-->
      <!--<a routerLink="/owner/dashboard" routerLinkActive="active">Dashboard</a>-->
    <!--</md-card-title>-->
  <!--</md-card>-->

  <!--<md-card>-->
    <!--<md-card-title>-->
      <!--<a routerLink="/owner/teachers" routerLinkActive="active">Teachers</a>-->
    <!--</md-card-title>-->
  <!--</md-card>-->

  <!--<md-card>-->
    <!--<md-card-title>-->
      <!--<a routerLink="/owner/groups" routerLinkActive="active">Groups</a>-->
    <!--</md-card-title>-->
  <!--</md-card>-->

  <!--<md-card>-->
    <!--<md-card-title>-->
      <!--<a routerLink="/owner/students" routerLinkActive="active">Students</a>-->
    <!--</md-card-title>-->
  <!--</md-card>-->


  <ul>
    <li>
      <a routerLink="/owner/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a routerLink="/owner/teachers" routerLinkActive="active">Teachers</a>
    </li>
    <li>
      <a routerLink="/owner/groups" routerLinkActive="active">Groups</a>
    </li>
    <li>
      <a routerLink="/owner/students" routerLinkActive="active">Students</a>
    </li>
  </ul>

  <ul class="bottom-section">
    <li>
      <a routerLink="/logout">Logout</a>
    </li>
  </ul>
</div>
