<div *ngIf="group">
  <h2>Group {{ group.title}} ({{group.teacherName}})</h2>
  <button *ngIf="!isEditMode" md-button (click)="editGroup()">Edit</button>
  <button *ngIf="isEditMode" md-button (click)="cancelEdit()">Cancel edit</button>
  <button md-button color="warn" (click)="deleteGroup()">Delete group</button>
  <hr>

  <div *ngIf="isEditMode">
    <md-input [(ngModel)]="editableGroup.title"></md-input>

    <button md-raised-button (click)="saveGroup()">Save</button>
  </div>

  <h3>Group Chat</h3>
  <app-chat [groupId]="group.$key"></app-chat>

</div>

