<div *ngIf="teacher ">
  <h2>Teacher {{ teacher.name }}</h2>
  <button *ngIf="!isEditMode" md-button (click)="editTeacher()">Edit</button>
  <button *ngIf="isEditMode" md-button (click)="cancelEdit()">Cancel edit</button>
  <button md-button color="warn" (click)="deleteTeacher()">Delete teacher</button>
  <hr>

  <div *ngIf="!isEditMode">
    <p class="teacher-summary">{{ teacher.summary }}</p>
  </div>


  <div *ngIf="isEditMode">
    <md-input [(ngModel)]="editableTeacher.name"></md-input>
    <textarea class="teacher-summary" rows="10" [(ngModel)]="teacher.summary" (keyup)="updateSummary($event)"></textarea>

    <button md-raised-button (click)="saveTeacher()">Save</button>
  </div>
</div>

