<div>
  <form *ngIf="active" (ngSubmit)="onSubmitMessage()" #charForm="ngForm" novalidate autocomplete="off">
    <md-input [(ngModel)]="newMessage.text" type="text" name="newMessage" placeholder="Send new message" required></md-input>
  </form>
</div>
