/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

html, body, md-sidenav-layout {
  height: 100%;
}

md-sidenav {
  width: 200px;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

[md-button], [md-raised-button] {
  text-transform: uppercase;
}
