/*.teacher-list-container {*/
/*width: 400px;*/
/*}*/

.group-form {
  margin-bottom: 15px;
}

.groups-page-inner-container {
  display: flex;
}

/* 1 */
.group-list-outer-container {
  width: 20%;
  min-width: 300px;
}

/* 2 */
.group-info-outer-container {
  width: 100%;
  padding: 0 15px;
}

/* 3 */
.students-assigned-groups {
  opacity: 0.4;
  width: 20%;
  min-width: 250px;
}
