<div class="page">
  <h2>
    <span>Groups list</span>
    <button md-mini-fab *ngIf="!shouldRenderAddForm" (click)="renderForm(true)">
      <md-icon class="md-24">add</md-icon>
    </button>
  </h2>

  <div class="groups-page-inner-container">
    <div class="group-list-outer-container">
      <div *ngIf="shouldRenderAddForm" class="teacher-form">
        <app-add-group (onAddGroup)="renderForm(false)"></app-add-group>
      </div>
      <div class="group-list-container">
        <!-- TODO: move groups to group page -->
        <app-groups-list></app-groups-list>
      </div>
    </div>
    <div class="group-info-outer-container">
      <router-outlet></router-outlet>
    </div>
    <div class="students-assigned-groups">
      <app-students-list></app-students-list>
    </div>
  </div>
</div>

